<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>com.example.network_location_changer</string>
		<key>Program</key>
		<key>ProgramArguments</key>
		<array>
			<string>location_switch</string>
			<string>-v</string>
		</array>
		<key>StartInterval</key>
		<integer>10</integer>
		<key>RunAtLoad</key>
		<true />
		<key>LowPriorityIO</key>
		<key>StandardOutPath</key>
		<string><!-- full path to locationswitch.log  --></string>
		<key>StandardErrorPath</key>
		<string><!-- full path to locationswitch.log  --></string>
		<key>Disabled</key>
		<false />
	</dict>
</plist>